*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/androidTest/java/com/androidsolution/learntesting/ExampleInstrumentedTest.kt
/app/src/test/java/com/androidsolution/learntesting/ExampleUnitTest.kt
/gradle/wrapper/gradle-wrapper.jar
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/vcs.xml
